{
  "presets": [
    "@babel/typescript",
    ["@babel/env", { "modules": false }],
    ["@babel/preset-react",{"runtime":  "automatic"}]
  ],
  "plugins": [["babel-plugin-direct-import",{
    "modules": ["@mui/system", "@mui/material", "@mui/icons-material"]
  }]]
}
