
.ol-layerswitcher .panel  > li {
    border: 3px solid #17176255;
    padding:1px;
    max-height: 200px !important;
    overflow: auto !important;
    /*margin:2px;*/
}


.ol-layerswitcher .panel li label span {
    color: black !important;

}
